.home {
  position: relative;
}

.portrait-block {
  max-width: 400px;
  margin: 0 auto;
  mix-blend-mode: luminosity;
}

.typed-block {
  font-size: 2rem;
  max-width: max-content;
  margin: 0 auto;
  visibility: hidden;
  opacity: 0;
  transition: 0.35s ease-in;
  transform: translateY(-5%);
  line-height: 1.1;
  mix-blend-mode: difference;

  &.visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  .typed-left {
    margin-bottom: 0;
    color: rgb(var(--orange));
  }

  .typed-center {
    margin: 0;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
  }

  .typed-right {
    text-align: right;
    margin: 0;
    font-weight: 300;
  }
}

@media (min-width: 767px) {
  .typed-block {
    font-size: 3rem;

    .typed-center {
      font-size: 5rem;
    }
  }
}

@media (min-width: 991px) {
  .home {
    display: flex;
    flex-direction: row-reverse;
  }

  .portrait-block {
    margin-top: 10%;
  }

  .typed-block {
    margin-top: 4%;
  }
}
