@keyframes increase-portrait {
  0% {
    scale: 0.9;
  }
  100% {
    scale: 1;
  }
}

@keyframes decrease-opacity {
  0% {
    background: rgba(var(--black-rgb), 0.7);
  }
  100% {
    background: rgba(var(--black-rgb), 0.5);
  }
}
