@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import 'variables.css';
@import 'animations.css';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--c-white);
}

a {
  color: var(--c-white);
}

img {
  width: 100%;
}

button {
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--c-white);
  font-size: 1rem;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: rgb(var(--black-rgb));
}

header {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  flex: 1;
}

footer {
  padding: 1em;
  font-size: 0.8rem;
  color: var(--c-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
