.portfolio-modal {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease-out;
  padding: 1em;
  border-radius: 6px;
  transform: translateX(-3%);
  visibility: hidden;
  opacity: 0;
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.portfolio-modal h2 {
  text-align: center;
}

.portfolio-modal.visible {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

.carousel {
  display: flex;
  justify-content: center;
}

.portfolio-item {
  transition: 0.25s ease-in-out;
  max-width: 350px;
  display: block;
  cursor: pointer;
  background: rgb(var(--orange));
  border-radius: 0 0 6px 6px;
  box-shadow: 0 0 1px 0px rgb(var(--blue-black));

  &:hover {
    scale: 1.05;
  }
}

.portfolio-item p {
  text-align: center;
}
