.portfolio-modal {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.7s ease-out;
  padding: 1em;
  border-radius: 6px;
  transform: translate(-5%, 0);
  visibility: hidden;
  opacity: 0;
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.portfolio-modal h2 {
  text-align: center;
}

.portfolio-modal.visible {
  transform: translate(0, 0);
  visibility: visible;
  opacity: 1;
}

.carousel {
  display: flex;
  justify-content: center;
}

.portfolio-item {
  transition: 0.25s ease-in-out;
  max-width: 350px;
  display: block;
  cursor: pointer;
  background: rgba(var(--black-rgb), 0.9);

  &:hover {
    scale: 1.05;
  }
}

.portfolio-item p {
  text-align: center;
}
